/* место для вашего кода */
.header {
  display: flex;
  justify-content: space-evenly;
  margin: 92px 24px 96px 24px;
}

.header-menu-list {
  display: flex;
  gap: 32px;
  padding: 44px 36px 39px 26.5px;
  font-size: 18px;
  list-style-type: circle;
}

.underscore {
  text-underline-offset: 4px;
}

.header-menu-item-active {
  text-decoration: double;
  list-style-type: none;
}

.menu-link-active {
  text-decoration: double;
}

.header-logo {
  display: block;
  width: 136px;
  height: 105px;
  margin: auto 0;
}

.header-logo-image {
  justify-content: start;
  width: 140px;
}

.contact {
  width: 240px;
  margin: 5px 25.4px 2px 184px;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  list-style-type: none;
}

.cover {
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.opacity-image {

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.cover-title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 49px 138px 50px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.accent-span {
  display: block;
}

.text-center {
  line-height: 100%;
  text-align: center;
}

.text-right {
  line-height: 100%;
  letter-spacing: 30px;
  text-align: right;
}

.cover-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  padding-bottom: 50px;
  padding-left: 24px;
  color: #fff;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  word-spacing: 19px;
}

.accent-span-spacing {
  letter-spacing: 60px;
}
.accent-span-spacing-end {
  letter-spacing: 0;
}

.text-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  background: none;
}

.lots {
  max-width: 1052px;
  margin-top: 179px;
  margin-left: 20px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.section-title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.title-lots {
  margin-bottom: 27px;
  margin-left: 40px;
}

.lots-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 12px;
}

.lots-list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  width: 334px;
  min-height: 563px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lots-list-item-title {
  color: #fff;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
}

.item-left {
  background-image: url(../images/card-lot-01.jpg);
}

.item-center {
  background-image: url(../images/card-lot-02.jpg);
}

.item-right {
  background-image: url(../images/card-lot-03.jpg);
}

.link-image-lots {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  text-decoration: double;
  min-height: 100%;
  padding: 51px 0 48px;
}

.lots-list-item-text {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-transform: none;
}

.lots-text {
  max-width: 254px;
}

.lots-more {
  padding-top: 30px;
  padding-left: 44px;
  font-weight: 400;
  font-size: 20px;
  text-transform: lowercase;
}

.about {
  display: flex;
  margin-top: 130px;
  margin-left: 35px;
}

.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 47px;
  margin-left: 35px;
  border-radius: 100%;
  background-color: black;
}

.about-logo-image {
  width: 142px;
  height: 114px;
}

.about-text-column {
  width: 693px;
  margin-top: 147px;
  margin-left: 72px;
}

.about-text {
  padding-top: 102px;
  font-size: 20px;
  letter-spacing: 0.01em;
}

.about-text-p {
  padding-bottom: 27px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  padding: 150px 50px 89px;
}

.footer-contact {
  margin: 0;
}

.menu-list {
  list-style-type: none;
}

.footer-menu {
  justify-content: end;
  font-size: 18px;
  text-align: center;
}

.footer-social {
  display: flex;
  gap: 48px;
  list-style-type: none;
}

.footer-social-item {
  width: 48px;
  text-align: left;
}
